@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
:root {
    --bg-gray: #ddd;
    --color-primary:#4d41c0;
    --white:#FFF;
    --textgray: #4a4a4a;
}
* {
    box-sizing: border-box   ;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    background-color: var(--bg-gray);
}
header {
    display: flex;
    align-items: center;
    background-color: var(--color-primary);
    color: var(--white);
    height: 60px;
}
nav {
    display: flex;
    justify-content:space-between;
    align-items: center;
}
nav h1 {
    font-size: 24px;
    font-weight: 700;
}
nav a {
    font-size: 12px;
    font-weight: 400;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}
a, a:hover {
    text-decoration: none;
    color: unset;
}
.dsmovie-contact-container {
    display: flex;
    align-items: center;
}
.dsmovie-contact-container img {
    margin-right: 2px;
}
#dsmovie-card-list {
    padding: 40px 0px;
}
.dsmovie-card {
    width: 300px;
}
.dsmovie-card img {
    width: 100%;
    border-radius: 8px 8px 0px 0px;
}
.dsmovie-card-description {
    background-color: var(--white);
    padding: 10px 0 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0px 0px 8px 8px;
}
.dsmovie-card-description h3 {
    margin-bottom: 25px;
}
.dsmovie-btn, .dsmovie-btn:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: var(--color-primary);
    color: var(--white);
    font-size: 14px;
    font-weight: 700;
    height: 40px;
    width: 180px;
}