@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
:root {
  --bg-gray: #ddd;
  --color-primary: #4d41c0;
  --white: #fff;
  --textgray: #4a4a4a;
  --text-light-gray:#AAAAAA;
  --star-yellow: #FFBB3A;
}
* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html,
body {
  background-color: var(--bg-gray);
}
header {
  display: flex;
  align-items: center;
  background-color: var(--color-primary);
  color: var(--white);
  height: 60px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav #h1-header {
  font-size: 24px;
  font-weight: 700;
}
nav a {
  font-size: 12px;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}
a,
a:hover {
  text-decoration: none;
  color: unset;
}
.dsmovie-contact-container {
  display: flex;
  align-items: center;
}
.dsmovie-contact-container img {
  margin-right: 2px;
}
#dsmovie-card-list {
  padding: 40px 0px;
}
.dsmovie-card {
  width: 100%;
}
.dsmovie-card img {
  width: 100%;
  border-radius: 8px 8px 0px 0px;
}
.dsmovie-contact-container:hover, .dsmovie-card:hover {
    transform: scale(1.05);
    transition: 1.2s;
    width: 100%;
    height: 100;;
}
.dsmovie-card-description {
  background-color: var(--white);
  padding: 10px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 220px;
  border-radius: 0px 0px 8px 8px;
}
.dsmovie-card-description h3 {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
.dsmovie-btn,
.dsmovie-btn:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: var(--color-primary);
  color: var(--white);
  font-size: 14px;
  font-weight: 700;
  height: 40px;
  width: 180px;
}
.dsmovie-card-form {
    width: 100%;
  }
  .dsmovie-card-form img {
    width: 100%;
    border-radius: 8px 8px 0px 0px;
  }
  .form-control {
      height: 40%;
  }
.dsmovie-btn-form,
.dsmovie-btn-form:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: var(--color-primary);
  color: var(--white);
  font-size: 14px;
  font-weight: 700;
  height: 100%;
  width: 180px;
  border: 0;
}
.dsmovie-form-container {
  padding: 40px 0;
  max-width: 420px;
}
.dsmovie-form-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    border-radius: 0 0 8px 8px; 
    padding: 40px;
}
.dsmovie-form {
    width: 100%;
}
.dsmovie-form-description h2 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
}
.dsmovie-form-description h3 {
    font-size: 13px;
    font-weight: 700;
}
.dsmovie-form-group {
    margin-bottom: 10px;
}
.dsmovie-form-group label {
    font-size: 12px;
    color: var(--text-light-gray);
}
.dsmovie-form-btn-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 140px;
}
.dsmovie-form-btn-container .dsmovie-btn-form {
    margin-top: 20px;
}
.dsmovie-card-description-bottom {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.dsmovie-card-description-bottom h4 {
    font-size: 16px;
    font-weight: 700;
    color: var(--star-yellow);
}
.dsmovie-card-description-bottom p {
    font-size: 12px;
    font-weight: 400;
    color: var(--textgray);
}
.dsmovie-card-description-bottom img{
    width: 22px;
}
