@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box   ;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    background-color: #ddd;
}
header {
    background-color: #4d41c0;
    color: #FFF;
}
nav {
    display: flex;
    justify-content:space-between;
    align-items: center;
}
a, a:hover {
    text-decoration: none;
    color: unset;
}